<div class="container">

  <mat-toolbar color="primary" *ngIf="canEdit">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button class="button" mat-flat-button >Add Product</button>
        </mat-toolbar-row>
      </mat-toolbar>

  @for (product of products; track product.id) {
  <mat-card class="product-card">
    <mat-card-title>{{ product.title }}</mat-card-title>
    <img
      mat-card-image
      src="{{ product.image }}"
      alt="product-image"
      width="300"
      height="200"
    />
    <mat-card-content>
      <p>Price: {{ product.price | currency }}</p>
      <p>Chip: {{ product.configure.chip }}</p>

      <p>Year: {{ product.year }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button>Add to cart</button>
      <button class="button" mat-flat-button [routerLink]="['/products', product.id]">Show details</button>
    </mat-card-actions>
  </mat-card>

  }
</div>
