<div class="container">
  @for (product of products; track product.id) {
  <mat-card class="product-card">
    <mat-card-title>{{ product.title }}</mat-card-title>
    <img
      mat-card-image
      src="{{ product.image }}"
      alt="product-image"
      width="300"
      height="200"
    />
    <mat-card-content>
      <p>{{ product.price | currency }}</p>
      <p>{{ product.configure.chip }}</p>

      <p>Year: {{ product.year }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button>Add to cart</button>
      <button class="button" mat-flat-button [routerLink]="['/products', product.id]">Show details</button>
    </mat-card-actions>
  </mat-card>

  }
</div>
