:host{
  display: flex;
 padding: 35px;
  align-items: center;
  flex-direction: column;
}

.example-form {
  width: 400px;

}

.example-full-width {
  width: 400px;
}

.dialog-buttons{
  display: flex;
  justify-content: center;
}

.button {
  &:first-of-type {
    margin-right: 5px;
  }
}


