<form [formGroup]="myForm" class="example-form" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <button class="button" mat-flat-button type="submit">Add Product</button>
  <button class="button" mat-flat-button (click)="onNoClick()">Cancel</button>
</form>
